<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Ligue hinzufügen</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Ligue ändern</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Ligue löschen</h3>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="data.name" name="name" [disabled]="flag==3" required>
      </mat-form-field>
    </div>
    
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag==1" [mat-dialog-close]="1" (click)="add()" >
        Sichern
      </button>
      <button mat-button *ngIf="flag==2"  [mat-dialog-close]="1" (click)="update()" >
        Sichern
      </button>
      <button mat-button *ngIf="flag==3"  [mat-dialog-close]="1" (click)="delete(data)">
        Löschen
      </button>
      <button mat-button (click)="cancel()">Abrechen</button>
    </div>
  </form>
</div>