<router-outlet></router-outlet>
<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align:center">
        <mat-icon [routerLink]="['home']">Home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
         Fussball
          </mat-panel-title>
       
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button [routerLink]="['ligue']">Ligue</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['mannschaft']">Mannschaft</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['nationality']">Nationalität</a>
        </mat-nav-list>
        
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Information
          </mat-panel-title>
          <mat-panel-description>
            Grundlegende Informationen über Aplikation
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button [routerLink]="['about']">Über App</a>
        </mat-nav-list>
     
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>


