<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Mannschaft hinzufügen</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Mannschaft ändern: </h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Mannschaft löschen: </h3>
 
  <form class="mat-dialog-content" #formControl="ngForm">
   
      <div class="form">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="data.name" name="name" [disabled]="flag==3" >
          </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
              <input matInput placeholder="Gegründet" [matDatepicker]="gegruendet" name="gegruendet"  [(ngModel)]="data.gegruendet" 
                [disabled]="flag == 3">
              <mat-datepicker-toggle matSuffix [for]="gegruendet"></mat-datepicker-toggle>
              <mat-datepicker #gegruendet></mat-datepicker>
            </mat-form-field>
          </div>

        <div class="form">
            <mat-form-field>
              <input matInput placeholder="Ort" [(ngModel)]="data.ort" name="ort" [disabled]="flag==3" >
            </mat-form-field>
          </div>
    
 
    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.ligue" placeholder="Ligue"  name="ligue" [disabled]="flag == 3">
          <mat-option *ngFor="let ligue of ligues | async" [value]="ligue" >
            {{ ligue.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
 
    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1"  [mat-dialog-close]="1" (click)="add()">Sichern</button>
      <button mat-button *ngIf="flag == 2"  [mat-dialog-close]="1" (click)="update()">Sichern</button>
      <button mat-button *ngIf="flag == 3"  [mat-dialog-close]="1" (click)="delete()">Löschen</button>
      <button mat-button (click)="cancel()" >Abrechen</button>
    </div>
  </form>
 </div>
