.container {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
}

.no-result {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style:  italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 5%;
    padding-right: 80px;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
    flex: 0 0 30%;
    padding-left: 15px;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
   
    padding-right: 10px;
}
.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4){
    flex: 0 0 15%;
}

.title-center {
    margin: 0 auto;
}