<mat-toolbar color="primary">
  <span class="title-center">Mannschaft</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="search($event.target.value)" placeholder="Suchen">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource"  class="mat-cell" matSort>
  

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="gegruendet">
      <mat-header-cell *matHeaderCellDef >Gegründet</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.gegruendet.toDate() | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ort">
        <mat-header-cell *matHeaderCellDef >Ort</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ort}}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="ligue">
      <mat-header-cell *matHeaderCellDef>Ligue</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ligue.name}}</mat-cell>
   </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.name, row.gegruendet, row.ort, row.ligue)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="openDialog(3, row.id, row.name, row.gegruendet, row.ort, row.ligue)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: pointer" *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" 
    [ngClass]="{'selectRow': teamSelected != null && teamSelected.id == row.id}"></mat-row>
  </mat-table>
  <mat-paginator [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10]">
</mat-paginator>
</div>

